In [4]:
import pandas as pd

df = pd.read_csv('shopify_data.csv', sep=',')
order_amts = df['order_amount']

print(order_amts.median(axis=0))

284.0

In [ ]:
# SELECT * FROM Orders WHERE ShipperID = 3;

In [ ]:
SELECT COUNT(*)
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID

In [ ]:
SELECT LastName FROM (SELECT *
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID
GROUP BY Employees.EmployeeID)
HAVING COUNT(LastName)=(SELECT MAX(mycount) FROM (SELECT COUNT(Employees.LastName) mycount, Employees.LastName
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID
GROUP BY Employees.EmployeeID));

In [ ]:
SELECT LastName FROM (SELECT *
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID)
GROUP BY LastName
HAVING COUNT(LastName)=(SELECT MAX(mycount) FROM (SELECT COUNT(Employees.LastName) mycount, Employees.LastName
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID
GROUP BY Employees.EmployeeID));

In [ ]:
SELECT LastName FROM (SELECT *
FROM [Orders] JOIN Customers
ON [Orders].CustomerID = Customers.CustomerID)
GROUP BY LastName
HAVING COUNT(LastName)=(SELECT MAX(mycount) FROM (SELECT COUNT(Employees.LastName) mycount, Employees.LastName
FROM [Orders] JOIN Employees
ON [Orders].EmployeeID = Employees.EmployeeID
GROUP BY Employees.EmployeeID));

In [ ]:
SELECT * FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID

In [ ]:
SELECT p.ProductName, c.Country FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID

In [ ]:
SELECT count(p.ProductName) ProductCount, p.ProductName, c.Country FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID
GROUP BY c.Country
HAVING c.Country = "Germany"

In [ ]:
# Not finished
SELECT ProductName FROM (SELECT * FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID
WHERE c.Country = "Germany")
GROUP BY ProductName
HAVING COUNT(ProductName)=(SELECT MAX(ProductCount) FROM (SELECT count(p.ProductName) ProductCount, p.ProductName, c.Country FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID
GROUP BY c.Country
HAVING c.Country = "Germany"));

In [ ]:
SELECT SUM(od.Quantity) ProductSum, p.ProductName, c.Country FROM Orders o JOIN Customers c ON o.CustomerID = c.CustomerID JOIN OrderDetails od ON o.OrderID = od.OrderID JOIN Products p ON p.ProductID = od.ProductID
WHERE c.Country = "Germany"
GROUP BY ProductName